<h1>Engineers#index</h1>
<p>Find me in app/views/engineers/index.html.erb</p>
<p>Month: <%= @month.strftime("%B") %></p>
<table border="1">
<thead align="center">
	<tr>
		<th>Name</th>
		<th>On-call hours this month</th>
	</tr>
</thead>	
<tbody align="center">
	<% @engineers.each do |ha| %>
		<tr>
			<td><%= ha["engineer"]["name"] %></td>
			<td><%= ha["overtimes"] %></td>
		</tr>
	<% end %>
</tbody>
</table>
